<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd">
    <tlib-version>1.2</tlib-version>
    <uri>http://java.hibertags.com/hibertags_1.0</uri>
    <tag>
        <description>Persists an object to data source</description>
        <name>save</name>
        <tag-class>taghandlers.basic.Save</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>object</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Updates an object in data source</description>
        <name>update</name>
        <tag-class>taghandlers.basic.Update</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>object</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Deletes an object in data source</description>
        <name>delete</name>
        <tag-class>taghandlers.basic.Delete</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>object</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Use to execute a basic from query operation on database</description>
        <name>from</name>
        <tag-class>taghandlers.basic.From</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>className</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>orderType</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>orderBy</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>uniqueResult</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        
    </tag>
    <tag>
        <description>Expresses an inner join for a criteria query</description>
        <name>join</name>
        <tag-class>taghandlers.basic.Join</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>className</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>associationPath</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>alias</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>orderType</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>orderBy</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>uniqueResult</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        
    </tag>
    <tag>
        <description>Expresses an inner join with a fetch mode</description>
        <name>fetchJoin</name>
        <tag-class>taghandlers.basic.FetchJoin</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>className</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>associationPath</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>fetchMode</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>orderType</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>orderBy</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>uniqueResult</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        
    </tag>
    <tag>
        <description>Can be used inside hiber:join and hiber:fetchJoin tags in order to express more than one inner joins</description>
        <name>alias</name>
        <tag-class>taghandlers.joins.Alias</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>associationPath</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>alias</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Can be used inside hiber:fetchJoin tag in order to express more than one fetch modes</description>
        <name>fetchMode</name>
        <tag-class>taghandlers.joins.FetchMode</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>associationPath</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>fetchMode</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
  
    <tag>
        <description>Allows to use wildcards and Match Modes to match two strings</description>
        <name>like</name>
        <tag-class>taghandlers.restrictions.Like</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>likeValue</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>matchMode</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>ignoreCase</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Property value of an object is compared with a given value using equal to operator</description>
        <name>eq</name>
        <tag-class>taghandlers.restrictions.Eq</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>ignoreCase</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Compares a given identifier value with the identifiers of database persisted objects</description>
        <name>idEq</name>
        <tag-class>taghandlers.restrictions.IdEq</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Property value of an object is compared with a given value using not equal to operator</description>
        <name>notEq</name>
        <tag-class>taghandlers.restrictions.NotEq</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
        <attribute>
            <name>ignoreCase</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Values of two object properties are compared with each other</description>
        <name>eqProperty</name>
        <tag-class>taghandlers.restrictions.EqProperty</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName1</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>propertyName2</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>ignoreCase</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>The object property values are compared with two given values</description>
        <name>between</name>
        <tag-class>taghandlers.restrictions.Between</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>lowValue</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>highValue</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Property value of an object is compared with a given value using greater than or equal to operator</description>
        <name>greaterThanOrEq</name>
        <tag-class>taghandlers.restrictions.GreaterThanOrEq</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Property value of an object is compared with a given value using greater than operator</description>
        <name>greaterThan</name>
        <tag-class>taghandlers.restrictions.GreaterThan</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Property value of an object is compared with a given value using less than or equal to operator</description>
        <name>lessThanOrEq</name>
        <tag-class>taghandlers.restrictions.LessThanOrEq</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Property value of an object is compared with a given value using less than operator</description>
        <name>lessThan</name>
        <tag-class>taghandlers.restrictions.LessThan</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>value</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>true</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Checks whether a given property value is null</description>
        <name>isNull</name>
        <tag-class>taghandlers.restrictions.IsNull</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Checks whether a given property value is not null</description>
        <name>isNotNull</name>
        <tag-class>taghandlers.restrictions.IsNotNull</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Checks whether given collection is empty</description>
        <name>isEmpty</name>
        <tag-class>taghandlers.restrictions.IsEmpty</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Checks whether given collection is not empty</description>
        <name>isNotEmpty</name>
        <tag-class>taghandlers.restrictions.IsNotEmpty</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Provides the value assigned to given property name</description>
        <name>displayProperty</name>
        <tag-class>taghandlers.projections.DisplayProperty</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Groups the result set according to given property name</description>
        <name>groupBy</name>
        <tag-class>taghandlers.projections.GroupBy</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Counts the result set considering given property name</description>
        <name>count</name>
        <tag-class>taghandlers.projections.Count</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Provides a distinct count of given property</description>
        <name>countDistinct</name>
        <tag-class>taghandlers.projections.CountDistinct</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Produces average value of the values of given property</description>
        <name>avgOf</name>
        <tag-class>taghandlers.projections.AvgOf</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Produces sum of the values of given property</description>
        <name>sumOf</name>
        <tag-class>taghandlers.projections.SumOf</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Produces minimum value from the values of given property</description>
        <name>minValue</name>
        <tag-class>taghandlers.projections.MinValue</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Produces maximum value from the values of given property</description>
        <name>maxValue</name>
        <tag-class>taghandlers.projections.MaxValue</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>propertyName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Provides the row count of a given table</description>
        <name>rowCount</name>
        <tag-class>taghandlers.aggregations.RowCount</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>className</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>Given the database table name, the identifier values of persisted instances will be generated</description>
        <name>displayId</name>
        <tag-class>taghandlers.aggregations.DisplayId</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>className</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>

<!--(Jendrock et al., 2011)-->